doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      .header.clearfix
        ul.nav.nav-pills.pull-right
          li.active(role="presentation")
            a(href='/vnpay/order/create_payment_url') Tạo mới GD thanh toán
          li.active(role="presentation")
            a(href='/vnpay/order/querydr') API truy vấn kết quả thanh toán
          li.active(role="presentation")
            a(href='/vnpay/order/refund') API hoàn tiền giao dịch
        h3.text-muted VNPAY DEMO
      block content
      footer.footer
        p &copy; VNPAY #{new Date().getFullYear()}